.post-enter {
    transform: translateY(100px);
    opacity: 0;
}

.post-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    opacity: 0;
    transform: translateY(100px);
    transition: all 500ms ease-in;
}

.post {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid lightblue;
    padding: 10px;
    margin: 10px 0;
}

.post_text {
    width: 60%;
}

.post_list {
    width: 80%;
    margin: 0 auto;
}

.post_btns {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

